*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(14,141,148);
background: linear-gradient(180deg, rgba(14,141,148,1) 0%, rgba(217,114,170,1) 100%);
}

a:visited {
    color: black;
}

.top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 2em;
    text-decoration: none;
    color: black;
}

header {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-image: url(img/background.jpg); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-family: 'Candal', sans-serif;
    text-align: center;
    font-size: 3em;
    margin: 0;
    color: black;
}

header .arrow-down {
    font-size: 2.5em;
    color: black;
    margin-top: 50px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid black;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.container h2 {
    font-family: 'Candal', sans-serif;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 3em;
    text-transform: uppercase;
}

.container h2 span {
    color: #9D43F0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.8);
}

.eve {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.eve img,
.jeremy img {
    height: 300px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10   px);
    }

    100% {
        transform: translatey(0px);
    }
}

.eve .text h3,
.jeremy .text h3 {
    font-family: 'Candal', sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.eve .text p,
.jeremy .text p {
    margin: 0;
    padding: 0;
}


.jeremy {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.text{
    width: 300px;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.5);
}

.eve .text .euphorie,
.jeremy .text .joie {
    color: #9D43F0;
    font-weight: bold;
    font-family: 'Candal', sans-serif;
}




.links {
    width: 100%;
    height: 50px;
    /* background-color: #D972AA; */
    margin: 0;
    padding: 0;
}

footer p {
   text-align: center;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.footer-links a {
    color: black;
    text-decoration: underline;
}

.links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    gap: 50px;
    font-weight: bold;
    font-size: 1.3em;
}

.links img {
    width: 70px;
}

.links ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
}


.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0E8D94;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0E8D94;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation-pink {
    display: inline-block;
    position: relative;
    color: #D972AA;
  }
  
  .hover-underline-animation-pink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #D972AA;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation-pink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

@media screen and (max-width: 1100px) {
    .container h2 {
        font-size: 2.4em;
    }

    .links ul{
        gap: 10px;
    }
}